Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix: Use correct python executable from venv
  fix_sonarcloud_7.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: fix review findings
  client/package.json
  cr_review_prompts.txt
  package-lock.json
  package.json
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

chore: remove throwaway artifacts introduced during conflict resolution
  fix_conflicts.py
  fix_conflicts_2.py
  fix_returns.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: revert unintended workflow modifications
  .github/workflows/ci.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix(deps): strictly pin lodash 4.18.0 without overrides
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root

chore: revert unintended CI modifications
  .github/workflows/ci.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix(deps,sec): resolve sonarcloud injection and match lodash versions
  client/package.json
  package-lock.json
  package.json
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

fix: resolve middleware instantiation and path logging
  modules/new_ui/backend_adapter.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(security): resolve duplicate Optional and Union redefinitions to unblock python checks
  uv.lock
Due: prettier-root

fix(setup): correctly resolve sys.executable to prevent bypassing virtual environment
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add missing sonner dependency and package-lock to resolve frontend check TS2307
  package-lock.json
  package.json
Due: prettier-root

fix: fix setup/launch.py merge conflict markers causing syntax errors
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: correct kwargs passing to fix failing launcher test
  setup/launch.py
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(setup): use sys.executable instead of hardcoded python3
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

docs: add disabled-workflow rules and stale-snapshot guards to AGENTS.md
  AGENTS.md
Due: prettier-root

chore(deps): restore required eslint plugins
  client/package-lock.json
  client/package.json
Due: eslint-client, prettier-client

fix(security): resolve path traversal in workflow manager
  plan.md
  src/backend/python_backend/tests/test_workflow_manager_security.py
  src/backend/python_backend/workflow_manager.py
  test_path_traversal.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(cache): update instantiation params and restore capacity check
  src/core/enhanced_caching.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix yaml syntax, gh CLI usage, and mypy continue-on-error
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier-root

chore(ci): disable gemini workflows to resolve CI check failures
  .github/workflows/gemini-dispatch.yml.DISABLED
  .github/workflows/gemini-invoke.yml.DISABLED
  .github/workflows/gemini-review.yml.DISABLED
  .github/workflows/gemini-scheduled-triage.yml.DISABLED
  .github/workflows/gemini-triage.yml.DISABLED
Due: prettier-root

docs: add disabled-workflow rules and stale-snapshot guards to AGENTS.md (#835)
  AGENTS.md
Due: prettier-root

fix: align Python version range across setup files to 3.11-3.13
  setup/launch.py
  setup/validation.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: align Python version range across setup files to 3.11-3.13 (#837)
  setup/launch.py
  setup/validation.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

revert: restore active Gemini workflows disabled by session
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: prettier-root

revert: restore ALL workflows to match origin/main exactly
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml.DISABLED
  .github/workflows/jules-issue-triage.yml
  .github/workflows/jules-pr-address-comments.yml
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-automerge-label.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml.DISABLED
  .github/workflows/jules-pr-walkthrough.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

chore: merge origin/main and resolve Python version conflict in launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: add missing CLI dependencies to pyproject.toml
  setup/pyproject.toml
Due: prettier-root

docs(cli): add Phase 1.5 gap analysis and production readiness roadmap
  docs/cli-gap-analysis.md
  docs/cli-production-readiness-plan.md
Due: prettier-root

fix: resolve SonarCloud issues - security and performance
  .github/workflows/pr-check.yml
  modules/new_ui/utils.py
  setup/launch.py
  src/resolution/auto_resolver.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add --no-script to uv run and simplify regex patterns
  .github/workflows/pr-check.yml
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add --no-build to all uv run commands
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): resolve test collection failure and Codecov artifact handling
  .github/workflows/pr-check.yml
  src/core/exceptions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root
