Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix(ci): make ruff non-blocking in pr-check and lint-only workflows
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix: resolve SonarCloud S1656 (self-assignment), S5145 (log user data), S5332 (HTTP)
  modules/dashboard/routes.py
  setup/launch.py
  setup/project_config.py
  src/core/database.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add sonar.cpd.exclusions for deprecated backend duplication
  sonar-project.properties
Due: prettier-root

fix: resolve remaining SonarCloud security vulnerabilities
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  modules/dashboard/routes.py
  src/core/database.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: trigger SonarCloud re-analysis with exclusions applied
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): fix bandit and pytest collection errors
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_filters.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix frontend working directory in CI
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): fix frontend root deps install for ts compilation
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): fix download-artifact parameter for codecov upload
  .github/workflows/pr-check.yml
Due: prettier-root

fix: robustly ensure sqlite directory exists
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_filters.py
  src/backend/python_nlp/smart_retrieval.py
  src/core/database.py
  src/core/smart_filter_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): push correct files to resolve conflicts and security issues
  .github/workflows/dependabot-auto-merge.yml
  .mergify.yml
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: disable flaky test and fix tsc missing in actions
  .github/workflows/pr-check.yml
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): remove continue-on-error from mypy
  .github/workflows/ci.yml
Due: prettier-root

chore: empty commit to re-trigger CI
  trigger_ci.txt
Due: prettier-root

fix: resolve tsconfig missing properties for newer tsc
  tsconfig.json
Due: prettier-root

fix(ci): fix tsc binary path, coverage upload, and NOSONAR for uv sync
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): fix tsc binary path, pip cache, non-blocking ruff/bandit, coverage upload
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix(mergify): use correct google-labs-jules[bot] username instead of jules
  .mergify.yml
Due: prettier-root

fix(mergify): add missing comment lines for consistency with main
  .mergify.yml
Due: prettier-root

Fix test failures due to dependency updates
  tests/test_mfa.py
  tests/test_password_hashing.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix python linting and missing import in PR 807
  src/backend/python_backend/main.py
  src/backend/python_backend/training_routes.py
  src/core/security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix python linting errors across modules
  src/backend/python_backend/plugin_manager.py
  src/backend/python_nlp/nlp_engine.py
  src/core/advanced_workflow_engine.py
  src/core/auth.py
  src/core/notmuch_data_source.py
  src/core/performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix security.py lint errors
  src/core/security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix bandit unhashable type dict error in test
  src/backend/node_engine/test_node_security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): add missing Depends import
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

perf: add debounce to dashboard search query
  client/src/pages/dashboard.tsx
Due: eslint-client, prettier-client

fix: add missing Depends import in training_routes.py
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: merge branch main to bring in ci fixes
  ci_trigger.txt
Due: prettier-root
