Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

feat: complete CodeRabbit and MR findings fixes + Jules workflow restoration
  .gitignore
  .mergify.yml
  AGENT.md
  AGENTS.md
  CRUSH.md
  GEMINI.md
  IFLOW.md
  JULES.md
  LLXPRT.md
  QWEN.md
  client/package-lock.json
  client/package.json
  docs/maintenance/README.md
  docs/maintenance/scientific_branch_repair_runbook.md
  docs/maintenance/taskmaster_repair_runbook.md
  modules/auth/routes.py
  package-lock.json
  package.json
  scripts/jules-sessions.sh
  setup/launch.py
  src/core/enhanced_caching.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

docs: update AGENT_RULES_NEW_CAPABILITIES_REPORT with full tool coverage
  COMPREHENSIVE_ARCHITECTURE_ANALYSIS.md
  GEMINI.md
  SUBMODULE_CONFIGURATION.md
  SUBMODULE_SETUP_SUMMARY.md
  TASKMASTER_BRANCH_CONVENTIONS.md
  TASKMASTER_ISOLATION_FIX.md
  TASKMASTER_WORKTREE_MIGRATION.md
  src/core/execution/session.py
  src/core/utils/logger.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat: sync scientific with hardened jules workflows + classifier from main
  .github/instructions/dev_workflow.instructions.md
  .github/instructions/self_improve.instructions.md
  .github/instructions/taskmaster.instructions.md
  .github/instructions/tools-manifest.json
  .github/instructions/vscode_rules.instructions.md
  .github/scripts/jules-comment-classifier.cjs
  .github/workflows/ci.yml
  .github/workflows/gemini-review.yml
  .github/workflows/jules-issue-triage.yml
  .github/workflows/jules-pr-address-comments.yml
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-automerge-label.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml
Due: prettier-root

fix: synchronize broken launch.py and add settings.py from main
  setup/launch.py
  setup/settings.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(scientific): repair scientific branch launcher — remove duplicate main(), fix imports
  setup/launch.py
  setup/settings.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore check subcommand registration in scientific launcher
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat: orchestration-tools-combined — smart main + scientific launcher
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: configure Trunk code quality checks with custom lychee link checker
  .gitignore
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .trunkignore
Due: prettier-root

feat: apply security enhancements (DataSanitizer + EmailFilter types) to orchestration-tools
  src/core/auth.py
  src/core/smart_filter_nodes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix CI packaging dependency and ignore temp files
  .gitignore
  setup/requirements-dev.txt
  setup/requirements.txt
Due: prettier-root

docs(main): backfill missing docs + canonical branch-rules discovery
  AGENTS.md
  GEMINI.md
  docs/adr/001-node-based-workflow-system.md
  docs/adr/002-caching-strategy.md
  docs/adr/003-security-framework.md
  docs/ai_model_training_guide.md
  docs/getting_started.md
  docs/guides/README.md
  docs/testing_guide.md
Due: prettier-root

docs(scientific): backfill testing_guide + guides index + canonical discovery
  .gitignore
  AGENTS.md
  GEMINI.md
  docs/guides/README.md
  docs/testing_guide.md
Due: prettier-root

merge: cherry-pick aad5ce24 (circular import fix + dead imports + formatting) with security enhancements
  src/core/auth.py
  src/core/smart_filter_nodes.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

docs: consolidate branch merge prevention rules into .github/BRANCH_PROTECTION_RULES.md (quick-ref, discoverable without submodule)
  .github/BRANCH_PROTECTION_RULES.md
  BRANCH_AGENT_GUIDELINES_SUMMARY.md
Due: prettier-root

docs: add Jules PR automation guidance and checklist files
  JULES_ACTION.md
  docs/jules-consolidation-checklist.md
  docs/jules_actions.md
  scripts/test-skipmarkers.cjs
Due: prettier-root

Fix type annotations in enhanced_caching.py
  src/core/enhanced_caching.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Simplify put method in QueryResultCache to correctly handle max_capacity=0 and remove redundant move_to_end call
  src/core/enhanced_caching.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve ci issues, authentication parsing, linting, and db creation
  eslint.config.js
  setup/launch.py
  src/backend/python_backend/enhanced_routes.py
  src/backend/python_backend/main.py
  src/backend/python_nlp/smart_filters.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve ci issues, authentication parsing, linting, and db creation
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_retrieval.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve python linting errors, fix tests, and fix frontend package lockfile
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml
  .github/workflows/semgrep.yml
  .mergify.yml
  AGENT.md
  AGENTS.md
  CRUSH.md
  GEMINI.md
  IFLOW.md
  LLXPRT.md
  QWEN.md
  client/package-lock.json
  client/package.json
  docs/BRANCH_SYNC.md
  docs/NUMBERED_SPEC_BRANCH_TRANSFER_MAP.md
  docs/SUBMODULES.md
  package-lock.json
  package.json
  setup/pyproject.toml
  src/core/auth.py
  src/core/data/__init__.py
  src/core/data/database_source.py
  src/core/enhanced_error_reporting.py
  src/core/factory.py
  src/core/plugin_manager.py
  src/core/rate_limiter.py
  src/core/security.py
  src/core/security_validator.py
  src/core/settings.py
  src/core/smart_filter_manager.py
  src/core/smart_filter_nodes.py
  src/core/tagging_notmuch_data_source.py
  src/core/workflow_engine.py
  src/main.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

chore: remove deprecated gemini-* workflow files (revert: git reset --hard BACKUP-PRE-CLEANUP-20260808-630b56e5)
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: prettier-root

chore: cleanup stale untracked files after pull fast-forward
  .gitignore
  .taskmaster/tasks/tasks.json.roundtrip_backup
  tasks/task-007.md
Due: prettier-root

fix: remove incorrectly placed tasks/task-007.md (old-format duplicate)
  tasks/task-007.md
Due: prettier-root

fix: resolve merge conflict markers in setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root
