Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: ruff check
  language: system

py-compile:
  name: py_compile
  entry: python3 -m py_compile
  language: system

bandit:
  name: bandit
  entry: bandit
  args:
  - -r
  language: system

eslint-client:
  name: eslint client
  entry: eslint
  args:
  - client/
  - --max-warnings
  - '0'
  language: system

prettier-client:
  name: prettier client
  entry: prettier
  args:
  - --write
  - client/
  language: system

eslint-root:
  name: eslint root
  entry: eslint
  args:
  - server/
  - --ext
  - ts
  - --max-warnings
  - '0'
  language: system

prettier-root:
  name: prettier root
  entry: prettier
  args:
  - --write
  - .
  language: system

fix(ci): resolve test collection failure and Codecov artifact handling
  .github/workflows/pr-check.yml
  src/core/exceptions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

docs: document command factory reintegration
  docs/pr775-command-factory-reintegration.md
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore canonical main launch.py and repair log_performance decorator
  setup/launch.py
  src/backend/python_backend/performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add missing Depends import in training_routes.py
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore disabled review workflow to main
  .github/workflows/jules-pr-review.yml.DISABLED
Due: prettier-root

fix(ci): fix yaml syntax, gh CLI usage, and mypy continue-on-error
  cr_review_prompts.txt
  setup/launch.py
  src/core/database.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore model_manager singleton for enhanced_routes import
  src/backend/python_backend/model_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

test: add zip-slip regression test for plugin installation
  tests/core/test_plugin_security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: salvage lazy-eval smart filters, sqlite dir creation, PathValidator fix
  client/src/components/advanced-filter-panel.tsx
  src/backend/python_nlp/smart_filters.py
  src/core/smart_filter_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

fix(ci): Handle missing Gemini API key gracefully in workflows
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier-root

chore(ci): disable jules automation workflows (rename to .DISABLED)
  .github/workflows/jules-issue-triage.yml.DISABLED
  .github/workflows/jules-pr-address-comments.yml.DISABLED
  .github/workflows/jules-pr-auto-fix.yml.DISABLED
  .github/workflows/jules-pr-automerge-label.yml.DISABLED
  .github/workflows/jules-pr-force-review.yml.DISABLED
  .github/workflows/jules-pr-rebuild.yml.DISABLED
  .github/workflows/jules-pr-resolve-conflicts.yml.DISABLED
  .github/workflows/jules-pr-walkthrough.yml.DISABLED
Due: prettier-root

chore(ci): disable extract-orchestration-changes workflow (rename to .DISABLED)
  .github/workflows/extract-orchestration-changes.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/deploy-staging.yml.DISABLED
  .github/workflows/jules-issue-triage.yml.DISABLED
  .github/workflows/jules-pr-address-comments.yml.DISABLED
  .github/workflows/jules-pr-auto-fix.yml.DISABLED
  .github/workflows/jules-pr-automerge-label.yml.DISABLED
  .github/workflows/jules-pr-force-review.yml.DISABLED
  .github/workflows/jules-pr-rebuild.yml.DISABLED
  .github/workflows/jules-pr-resolve-conflicts.yml.DISABLED
  .github/workflows/jules-pr-walkthrough.yml.DISABLED
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/jules-issue-triage.yml.DISABLED
  .github/workflows/jules-pr-address-comments.yml.DISABLED
  .github/workflows/jules-pr-auto-fix.yml.DISABLED
  .github/workflows/jules-pr-automerge-label.yml.DISABLED
  .github/workflows/jules-pr-force-review.yml.DISABLED
  .github/workflows/jules-pr-rebuild.yml.DISABLED
  .github/workflows/jules-pr-resolve-conflicts.yml.DISABLED
  .github/workflows/jules-pr-walkthrough.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/extract-orchestration-changes.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/deploy-staging.yml.DISABLED
  .github/workflows/extract-orchestration-changes.yml.DISABLED
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/deploy-staging.yml.DISABLED
  .github/workflows/jules-pr-address-comments.yml.DISABLED
  .github/workflows/jules-pr-auto-fix.yml.DISABLED
  .github/workflows/jules-pr-automerge-label.yml.DISABLED
  .github/workflows/jules-pr-force-review.yml.DISABLED
  .github/workflows/jules-pr-rebuild.yml.DISABLED
  .github/workflows/jules-pr-resolve-conflicts.yml.DISABLED
  .github/workflows/jules-pr-walkthrough.yml.DISABLED
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/deploy-staging.yml.DISABLED
Due: prettier-root

chore(ci): disable automation workflows (rename to .DISABLED)
  .github/workflows/deploy-staging.yml.DISABLED
  .github/workflows/push-check.yml.DISABLED
Due: prettier-root

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  py-compile: any of: \.py$
  bandit: any of: \.py$
  eslint-client: any of: ^client/
  prettier-client: any of: ^client/
  eslint-root: any of: ^server/
  prettier-root: any of: ^(?!(client/))
