Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix(sec): proper sourcery skip command injection formatting
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve conflict markers, shadow definitions, and syntax errors on orchestration-tools
  scripts/token_optimization_monitor.py
  setup/launch.py
  setup/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(sec,deps): rebase and resolve package merge conflicts
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root

fix: resolve test suite syntax error
  tests/test_password_hashing.py
  tests/test_workflow_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): fix frontend deps install and codecov coverage.xml path based on updated base
  .github/workflows/pr-check.yml
Due: prettier-root

fix(ci): fix bandit dict crash
  src/backend/node_engine/test_node_security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore(tests): bypass flaky launcher mock assertions after rebase
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve CI failures by restoring return statements in launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: align lodash version strictly to 4.18.0 everywhere
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root

fix: fix E722 bare except on clean base branch
  src/resolution/auto_resolver.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

perf: precompile regex patterns in NLP text_utils
  src/backend/python_nlp/text_utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

perf: precompile regex patterns in NLP text_utils (#828)
  src/backend/python_nlp/text_utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: address remaining lint issues in main.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: address pre-existing CI/CD failures
  client/package.json
  eslint.config.js
  package.json
  src/backend/python_backend/models.py
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

fix: resolve CI failures and remaining linting errors
  .github/workflows/pr-check.yml
  client/eslint.config.js
  client/package-lock.json
  modules/dashboard/routes.py
  modules/system_status/__init__.py
  package-lock.json
  package.json
  setup/launch.py
  src/core/database.py
  src/core/notmuch_data_source.py
  src/core/plugin_base.py
  src/core/plugin_manager.py
  src/core/plugin_routes.py
  src/core/workflow_engine.py
  src/main.py
  src/resolution/auto_resolver.py
  src/strategy/risk_assessor.py
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

fix: exclude problematic test directory that causes collection errors
  .github/workflows/pr-check.yml
Due: prettier-root

fix: resolve review findings
  client/src/components/email-list.tsx
  client/src/pages/dashboard.tsx
Due: eslint-client, prettier-client

fix(ci): remove continue-on-error from mypy
  .github/workflows/ci.yml
Due: prettier-root
