Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

Restructure output format template for strict Jules parsing
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-review.yml
Due: prettier-root

Add truncation handling, no-findings guidance, and severity definitions to review template
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-review.yml
Due: prettier-root

fix(ci): fix enhanced_error_reporting circular import, missing logging import, and missing asyncio import
  src/core/ai_engine.py
  src/core/audit_logger.py
  src/core/auth.py
  src/core/data/database_source.py
  src/core/factory.py
  src/core/notmuch_data_source.py
  src/core/smart_filter_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Deploy updated Jules workflows with label support for auto-fix and resolve
  .github/jules-runbooks/graphql-mutations.md
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml
  .github/workflows/semgrep.yml
  AGENTS.md
  setup/services.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Deploy updated Jules workflows with label support for auto-fix and resolve
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
Due: prettier-root

fix: resolve esbuild dependency conflicts causing npm ci to fail
  package-lock.json
  package.json
Due: prettier-root

fix: update package-lock.json to resolve esbuild mismatch
  package-lock.json
Due: prettier-root

fix: update client/package-lock.json to resolve esbuild mismatch
  client/package-lock.json
Due: eslint-client, prettier-client

fix: update root package files to resolve esbuild version mismatch for npm ci
  package-lock.json
  package.json
Due: prettier-root

fix: downgrade react-refresh to 0.4.4 for ESLint 8.x compatibility
  client/package-lock.json
  client/package.json
Due: eslint-client, prettier-client

fix: correctly bump esbuild optional dependency overrides to 0.25.12 to resolve npm ci mismatch
  package.json
Due: prettier-root

fix: correctly install esbuild version mismatch for npm ci
  package-lock.json
  package.json
Due: prettier-root

fix: remove top-level esbuild to resolve version lock mismatch
  package-lock.json
  package.json
Due: prettier-root

fix: restore top-level esbuild to 0.25.12 to resolve version lock mismatch
  package-lock.json
  package.json
Due: prettier-root

sync: update all 8 workflow files to fixed canonical templates
  .github/workflows/jules-pr-review.yml
  docs/actions/workflows/jules-pr-address-comments.yml
  docs/actions/workflows/jules-pr-auto-fix.yml
  docs/actions/workflows/jules-pr-automerge-label.yml
  docs/actions/workflows/jules-pr-force-review.yml
  docs/actions/workflows/jules-pr-rebuild.yml
  docs/actions/workflows/jules-pr-resolve-conflicts.yml
  docs/actions/workflows/jules-pr-review.yml
  docs/actions/workflows/jules-pr-walkthrough.yml
Due: prettier-root

fix: trusted-base rules loading, GraphQL address-comments, docs
  .github/workflows/jules-pr-address-comments.yml
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
Due: prettier-root

fix: CodeRabbit findings — missing fs require, post step skip guard, shell injection
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
Due: prettier-root

fix: reorder address-comments checks, expand skipMarkers, correct bot login
  .github/workflows/jules-pr-address-comments.yml
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-automerge-label.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
Due: prettier-root

Update scripts/intelligent_merger.py
  scripts/intelligent_merger.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: label error handling, verdict template, rebuild trusted-base rules
  .github/workflows/jules-pr-auto-fix.yml
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
Due: prettier-root

fix(ci): resolve ruff lint errors and missing imports
  src/backend/extensions/example/example.py
  src/backend/python_backend/__init__.py
  src/backend/python_backend/advanced_workflow_routes.py
  src/backend/python_backend/email_routes.py
  src/backend/python_backend/gradio_app.py
  src/backend/python_backend/main.py
  src/backend/python_backend/plugin_manager.py
  src/backend/python_backend/workflow_editor_ui.py
  src/backend/python_nlp/nlp_engine.py
  src/core/advanced_workflow_engine.py
  src/core/auth.py
  src/core/database.py
  src/core/notmuch_data_source.py
  src/core/performance_monitor.py
  src/main.py
  src/resolution/__init__.py
  src/resolution/auto_resolver.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

perf: wrap EmailList with React.memo for render optimization
  client/src/components/email-list.tsx
Due: eslint-client, prettier-client

fix: add esbuild override to client to resolve version lock mismatch
  client/package-lock.json
  client/package.json
Due: eslint-client, prettier-client

fix(ci): resolve final ruff lint error in enhanced_routes.py
  src/backend/python_backend/enhanced_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: correctly restore top-level esbuild and overrides to 0.25.12 to resolve npm ci mismatch
  package.json
Due: prettier-root

fix: restore root esbuild to 0.25.0 to align with dependencies
  package-lock.json
  package.json
Due: prettier-root

fix: regenerate root package-lock.json after bumping esbuild to 0.25.12
  package-lock.json
  package.json
Due: prettier-root

feat: deploy Jules workflow files and tool dependencies for automated code review pipeline
  .github/workflows/jules-pr-automerge-label.yml
  .github/workflows/jules-pr-resolve-conflicts.yml
  tools/__init__.py
  tools/api/__init__.py
  tools/api/jules_api_client.py
  tools/sessions/__init__.py
  tools/sessions/post_pr_feedback.py
  tools/store/__init__.py
  tools/store/jules_store.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: configure correct esbuild 0.25.12 overrides to prevent package-lock mismatches
  package.json
Due: prettier-root

fix: configure global root esbuild override to 0.25.12 to fix npm ci mismatch
  package.json
Due: prettier-root

fix: restore client react-refresh version
  client/package-lock.json
  client/package.json
Due: eslint-client, prettier-client

fix: downgrade client eslint to 8.57.1 to be compatible with react-refresh plugin locally
  client/package-lock.json
  client/package.json
Due: eslint-client, prettier-client

fix: resolve ci.yml merge conflict (HEAD vs scientific) - merge pytest paths, keep safety check
  .github/workflows/ci.yml
Due: prettier-root

fix(ci): resolve remaining test failures
  src/core/performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root
