Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: ruff check
  language: system

py-compile:
  name: py_compile
  entry: python3 -m py_compile
  language: system

bandit:
  name: bandit
  entry: bandit
  args:
  - -r
  language: system

eslint-client:
  name: eslint client
  entry: eslint
  args:
  - client/
  - --max-warnings
  - '0'
  language: system

prettier-client:
  name: prettier client
  entry: prettier
  args:
  - --write
  - client/
  language: system

eslint-root:
  name: eslint root
  entry: eslint
  args:
  - server/
  - --ext
  - ts
  - --max-warnings
  - '0'
  language: system

prettier-root:
  name: prettier root
  entry: prettier
  args:
  - --write
  - .
  language: system

docs: Add analysis and resolution documentation for branch unification
  SCIENTIFIC_BRANCH_RESOLUTION_COMPLETE.md
  ast-grep_analysis_guide.md
  scientific_analysis.sh
  security_report.json
  security_rules.yml
  setup/launch.py.bak
Due: prettier-root

Update fix_uv_lock.py
  fix_uv_lock.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in setup scripts and finalize audit_logger exception handling
  setup/environment.py
  setup/validation.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Merge origin/main to resolve divergence
  .gitattributes
  .gitignore
  BRANCH_AGENT_GUIDELINES_SUMMARY.md
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat(orchestration): integrate local Jules management scripts and docs
  .jules/session_analysis/details/session_10865630989900669675.json
  .jules/session_analysis/details/session_11806280539751524203.json
  .jules/session_analysis/details/session_13005011563799472129.json
  .jules/session_analysis/details/session_13172420826211369022.json
  .jules/session_analysis/details/session_14586978430582998057.json
  .jules/session_analysis/details/session_15586951256576345271.json
  .jules/session_analysis/details/session_16320746218997740002.json
  .jules/session_analysis/details/session_16638769467548151530.json
  .jules/session_analysis/details/session_16994837303056291039.json
  .jules/session_analysis/details/session_2281891166145596786.json
  .jules/session_analysis/details/session_3927471279591052912.json
  .jules/session_analysis/details/session_4819412441763000548.json
  .jules/session_analysis/details/session_7956689661359593335.json
  .jules/session_analysis/details/session_7979893028704332984.json
  .jules/session_analysis/details/session_8371048452105557519.json
  .jules/session_analysis/details/session_9164742845732374282.json
  .jules/session_analysis/retrieve_sessions.sh
  .jules/session_analysis/tmp/all_sessions.json
  .jules/session_analysis/tmp/problematic_sessions.txt
  .jules/session_analysis/tmp/session_list.txt
  .jules/session_analysis/workflow_definitions.md
  JULES_ACTION_REPORT.md
  docs/JULES_OPERATIONS.md
  scripts/detect-branch-stack.sh
  scripts/jules_audit.sh
  scripts/jules_sync_all.sh
  scripts/verify-agent-content.sh
Due: prettier-root

Fix critical security issues and code bugs from PR #169 review
  modules/new_ui/utils.py
  scripts/branch_rename_migration.py
  scripts/script_sync.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix additional critical bugs from PR review
  scripts/agent_registry.py
  scripts/sync_prioritizer.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical bugs from PR review
  scripts/parallel_sync.py
  scripts/parallel_validator.py
  scripts/resource_monitor.py
  scripts/task_decomposer.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical bugs from PR review
  scripts/fix_suggestion_engine.py
  scripts/incremental_validator.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical code bugs from PR #169 review
  scripts/atomic_commit_manager.py
  scripts/conflict_predictor.py
  scripts/event_driven_assigner.py
  scripts/incremental_sync.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical code bugs from PR #169 review
  scripts/branch_rename_migration.py
  setup/launch.py
  setup/services.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix critical code bugs from PR #169 review
  scripts/test_translation_pipeline.py
  scripts/translation_pipeline.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical bugs from PR #169 review
  scripts/agent_registry.py
  scripts/worktree_context_detector.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical bugs from PR #169 review
  scripts/parallel_validator.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix major issues from PR #169 review
  scripts/parallel_validator.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix major issues from PR #169 review
  scripts/agent_registry.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix major issues from PR #169 review
  scripts/bottleneck_detector.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix major issues from PR #169 review
  scripts/atomic_commit_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix major issues from PR #169 review
  scripts/sync_common_docs.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix nitpick issues from PR #169 review
  scripts/agent_workflow_integration.py
  scripts/branch_rename_migration.py
  scripts/maintenance_scheduler.py
  scripts/test_integration.py
  scripts/test_maintenance_scheduler.py
  scripts/test_onboarding_guide.py
  scripts/verify_tasks.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat(handoff): Phase 10 branch-dependent stack evaluation
  docs/handoff/MULTI_HANDOFF_EXECUTION_PROCESS.md
  docs/handoff/phase-10-rule-quality.md
  docs/handoff/phase-10-stack-evaluation.md
  scripts/detect-branch-stack.sh
Due: prettier-root

docs(handoff): templatize branch variable in session creation prompts
  docs/handoff/AMP_RUSH_SESSION_CREATION.md
Due: prettier-root

Fix remaining backend issues from PR #169 review
  src/backend/python_backend/dashboard_routes.py
  src/backend/python_backend/database.py
  src/backend/python_backend/routes/v1/email_routes.py
  src/backend/python_nlp/nlp_engine.py
  src/core/database.py
  src/core/exceptions.py
  src/core/notmuch_data_source.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix SonarCloud issues from PR #169 review
  modules/auth/routes.py
  modules/categories/routes.py
  modules/new_ui/utils.py
  modules/system_status/__init__.py
  scripts/agent_performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Apply suggestions from code review
  .openhands/skills/code-review-patterns/SKILL.md
  scripts/translation_pipeline.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix additional PR review comments
  scripts/translation_pipeline.py
  scripts/verify_tasks.py
  src/backend/node_engine/workflow_engine.py
  src/backend/python_backend/routes/v1/email_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix remaining review comments
  scripts/docs_merge_strategist.py
  scripts/event_driven_assigner.py
  scripts/script_sync.py
  scripts/task_completion_tracker.py
  src/backend/python_backend/routes/v1/category_routes.py
  src/backend/python_backend/routes/v1/email_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix implicit Optional in validation_cache.py
  scripts/validation_cache.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix critical review comments
  scripts/conflict_predictor.py
  scripts/incremental_validator.py
  scripts/script_sync.py
  scripts/sync_prioritizer.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix more critical review comments
  scripts/branch_rename_migration.py
  scripts/resource_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix regex to properly match script end tags with trailing whitespace
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat(handoff): add Phase 14, AMP preamble, per-phase prompts, .gitignore unification
  commands/workflows/start-handoff.toml
  docs/handoff/AMP_CLI_COMMANDS.json
  docs/handoff/AMP_CLI_COMMANDS.md
  docs/handoff/AMP_COMMANDS.json
  docs/handoff/AMP_COMMANDS.md
  docs/handoff/AMP_PROMPT_PREAMBLE.md
  docs/handoff/README.md
  docs/handoff/context-agnostic-gates.sh
  docs/handoff/context-guard.sh
  docs/handoff/execution-journal.sh
  docs/handoff/phase-14-gitignore-unification.md
  docs/handoff/prompts/README.md
  docs/handoff/prompts/_bootstrap.txt
  docs/handoff/prompts/_preamble.txt
  docs/handoff/prompts/phase-01-rush.txt
  docs/handoff/prompts/phase-02-rush.txt
  docs/handoff/prompts/phase-03-rush.txt
  docs/handoff/prompts/phase-04-rush.txt
  docs/handoff/prompts/phase-05-deep.txt
  docs/handoff/prompts/phase-06-deep.txt
  docs/handoff/prompts/phase-07-deep.txt
  docs/handoff/prompts/phase-08-deep.txt
  docs/handoff/prompts/phase-09-deep.txt
  docs/handoff/prompts/phase-10-deep.txt
  docs/handoff/prompts/phase-11-smart.txt
  docs/handoff/prompts/phase-14-deep.txt
  docs/handoff/prompts/run.sh
  scripts/apply-unified-gitignore.sh
  scripts/unified.gitignore
Due: prettier-root

Fix SyntaxError in email_routes.py and add missing GitPython dependency
  setup/pyproject.toml
  src/backend/python_backend/routes/v1/email_routes.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix ESLint configuration by adding missing globals import
  client/package-lock.json
  client/package.json
  eslint.config.js
Due: eslint-client, prettier-client, prettier-root

Remove --max-warnings 0 from ESLint to allow warnings
  client/package.json
Due: eslint-client, prettier-client

Fix CI workflow to ignore broken test files
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

Make lint checks non-blocking in PR check
  .github/workflows/pr-check.yml
Due: prettier-root

Fix SyntaxError in setup/launch.py by restoring from working commit
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  py-compile: any of: \.py$
  bandit: any of: \.py$
  eslint-client: any of: ^client/
  prettier-client: any of: ^client/
  eslint-root: any of: ^server/
  prettier-root: any of: ^(?!(client/))
