Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix: remove unused transformers imports in nlp_engine.py
  src/backend/python_nlp/nlp_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: address Sourcery comments
  .github/workflows/dependabot-auto-merge.yml
  .mergify.yml
Due: prettier-root

fix: add missing Depends import in training_routes.py
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve remaining lint errors
  src/backend/python_backend/performance_monitor.py
  src/core/security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve syntax errors and lint issues
  setup/launch.py
  src/backend/python_backend/plugin_manager.py
  src/backend/python_backend/training_routes.py
  src/backend/python_nlp/nlp_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve remaining CI failures
  .github/workflows/dependabot-auto-merge.yml
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_filters.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: merge branch main to bring in ci fixes
  ci_trigger.txt
Due: prettier-root

fix: remove duplicate PerformanceMetric and log_performance in performance_monitor.py
  src/core/performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove fastapi.Depends reference
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(lint): fix final redefinitions and imports
  src/core/performance_monitor.py
  src/core/security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: fix depends and validate_database_path for tests
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: robustly ensure sqlite directory exists
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_filters.py
  src/backend/python_nlp/smart_retrieval.py
  src/core/database.py
  src/core/smart_filter_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: disable flaky launcher test
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

perf: wrap EmailList with React.memo for render optimization
  client/src/components/email-list.tsx
Due: eslint-client, prettier-client

perf: add debounce to dashboard search query
  client/src/pages/dashboard.tsx
Due: eslint-client, prettier-client

refactor: simplify email labels rendering in EmailList
  client/src/components/email-list.tsx
Due: eslint-client, prettier-client

fix: remove ?view=FULL from Jules API polling — causes 400 error
  .github/workflows/jules-pr-force-review.yml
  .github/workflows/jules-pr-rebuild.yml
  .github/workflows/jules-pr-review.yml
  .github/workflows/jules-pr-walkthrough.yml
Due: prettier-root

fix(sec): bypass sonarcloud and sourcery with literal string logic
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(sec): bypass sonarcloud and sourcery securely
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(deps,sec): resolve sonarcloud injection and match lodash versions
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root

Fix: resolve syntax errors in setup/launch.py
  setup/launch.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: resolve lint errors in setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: resolve remaining lint errors and format setup directory
  setup/commands/check_command.py
  setup/commands/cleanup_command.py
  setup/commands/command_factory.py
  setup/commands/command_interface.py
  setup/commands/run_command.py
  setup/commands/setup_command.py
  setup/commands/test_command.py
  setup/container.py
  setup/environment.py
  setup/launch.py
  setup/project_config.py
  setup/pyproject.toml
  setup/services.py
  setup/settings.py
  setup/test_commands.py
  setup/test_config.py
  setup/test_stages.py
  setup/utils.py
  setup/validation.py
  src/backend/python_nlp/nlp_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: add E402 to ruff ignore list
  setup/pyproject.toml
Due: prettier-root

Fix: format database.py and main.py using uv run
  src/backend/python_backend/database.py
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: disable auto Jules review until handoff recommendations implemented
  .github/workflows/jules-pr-review.yml.DISABLED
  cr_review_prompts.txt
Due: prettier-root

chore: disable auto Jules review until handoff recommendations implemented
  .github/workflows/jules-pr-review.yml
Due: prettier-root

Fix: pass middleware classes to add_middleware instead of instances
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(security): CORS allowlist, CodeQL path traversal guards, HTML regex, dedup [MAS-173]
  README.md
  modules/new_ui/backend_adapter.py
  modules/new_ui/utils.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(security): CORS allowlist, CodeQL-safe path guard, HTML regexp [MAS-173]
  modules/new_ui/backend_adapter.py
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove f-string without placeholder
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root
