Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix: use DatabaseEmailRepository in test fixture
  tests/core/test_email_repository.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: format modified files
  src/backend/python_backend/database.py
  src/backend/python_backend/model_manager.py
  src/backend/python_nlp/gmail_integration.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: Resolve merge conflicts and fix PathValidator method
  src/backend/python_nlp/smart_filters.py
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add ESLint 9 compatible eslint.config.js
  client/eslint.config.js
Due: eslint-client, prettier-client

Fix syntax errors in setup/services.py
  setup/services.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add ruff config and format workflow engine files
  ruff.toml
  src/core/workflow_engine.py
  tests/test_workflow_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: Resolve remaining merge conflict markers in verify-dependencies.py
  scripts/verify-dependencies.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix merge conflicts in setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Clean up unused imports in setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add ruff config to ignore pre-existing lint errors
  ruff.toml
Due: prettier-root

fix: exclude setup/ from ruff checks
  ruff.toml
Due: prettier-root

fix: remove setup/ from Python compile and test steps
  .github/workflows/pr-check.yml
Due: prettier-root

fix: remove .eslintrc.json that conflicts with ESLint 9
  client/.eslintrc.json
Due: eslint-client, prettier-client

fix: disable react/prop-types rule for pre-existing components
  client/eslint.config.js
Due: eslint-client, prettier-client

Fix: Set DATA_DIR in conftest before imports
  src/backend/python_backend/tests/conftest.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: Make filter_routes.py SmartFilterManager initialization lazy
  src/backend/python_backend/filter_routes.py
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: Add missing Depends import in training_routes.py
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: Add placeholder action_routes.py module
  src/backend/python_backend/action_routes.py
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: disable react/prop-types in root ESLint config
  .eslintrc.json
Due: prettier-root

Fix: Add pydantic-settings to dev dependencies
  setup/pyproject.toml
Due: prettier-root

fix: remove root .eslintrc.json that conflicts with ESLint 9
  .eslintrc.json
Due: prettier-root

Fix: Add backwards-compatible db_manager to database.py
  src/backend/python_backend/database.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: regenerate client/package-lock.json
  client/package-lock.json
Due: eslint-client, prettier-client

Fix: Update conftest.py imports to use src-prefixed paths
  src/backend/python_backend/model_manager.py
  src/backend/python_backend/tests/conftest.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: use npm install instead of npm ci in workflow
  .github/workflows/pr-check.yml
Due: prettier-root

Fix: Use correct PathValidator method name
  src/backend/python_nlp/gmail_integration.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add explicit --config eslint.config.js to npm lint scripts
  client/package.json
Due: eslint-client, prettier-client

Fix: Add missing EmailNotFoundException class
  src/core/exceptions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove npm cache to avoid stale cache issues
  .github/workflows/pr-check.yml
Due: prettier-root

Fix: Add action_routes to imports in main.py
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: regenerate fresh package-lock.json with all deps
  client/package-lock.json
Due: eslint-client, prettier-client

Fix: Proper indentation in main.py if __name__ block
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add debug step and fix working-directory issues
  .github/workflows/pr-check.yml
Due: prettier-root

Fix: Address ruff lint errors
  src/backend/extensions/example/example.py
  src/backend/python_backend/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: use correct working-directory syntax for all client steps
  .github/workflows/pr-check.yml
Due: prettier-root

Fix merge conflict in dependabot.yml
  .github/dependabot.yml
Due: prettier-root
