Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix(lint): resolve unused imports and undefined names in src/main.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: resolve syntax errors in setup/launch.py
  setup/launch.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: resolve lint errors in setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: resolve remaining lint errors and format setup directory
  setup/commands/check_command.py
  setup/commands/cleanup_command.py
  setup/commands/command_factory.py
  setup/commands/command_interface.py
  setup/commands/run_command.py
  setup/commands/setup_command.py
  setup/commands/test_command.py
  setup/container.py
  setup/environment.py
  setup/launch.py
  setup/project_config.py
  setup/pyproject.toml
  setup/services.py
  setup/settings.py
  setup/test_commands.py
  setup/test_config.py
  setup/test_stages.py
  setup/utils.py
  setup/validation.py
  src/backend/python_nlp/nlp_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: add E402 to ruff ignore list
  setup/pyproject.toml
Due: prettier-root

Fix: format database.py and main.py using uv run
  src/backend/python_backend/database.py
  src/backend/python_backend/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix: pass middleware classes to add_middleware instead of instances
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(security): CORS allowlist, CodeQL path traversal guards, HTML regex, dedup [MAS-173]
  README.md
  modules/new_ui/backend_adapter.py
  modules/new_ui/utils.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(security): CORS allowlist, CodeQL-safe path guard, HTML regexp [MAS-173]
  modules/new_ui/backend_adapter.py
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove f-string without placeholder
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

refactor(backend_adapter): extract path resolution to helper method
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(backend_adapter): resolve merge conflicts, reduce duplication
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

style: format code with ruff
  modules/new_ui/backend_adapter.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve method name and import errors
  src/backend/python_backend/training_routes.py
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/smart_filters.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: trigger CI run
  README.md
Due: prettier-root

fix: fix HTML script/style tag regex to match closing tags with spaces
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Apply suggestions from code review
  modules/new_ui/utils.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

feat: wire isolated tab functions into create_app() UI
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: CI failures + SonarCloud duplication + add create_app() tests
  .github/workflows/pr-check.yml
  modules/email_retrieval/email_retrieval_ui.py
  modules/new_ui/utils.py
  setup/launch.py
  src/backend/node_engine/security_manager.py
  src/backend/node_engine/test_node_security.py
  src/backend/python_backend/tests/test_database_optimizations.py
  src/core/notmuch_data_source.py
  tests/test_main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

refactor: reduce SonarCloud duplication by extracting shared helpers
  setup/launch.py
  src/core/notmuch_data_source.py
  src/core/smart_filter_manager.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

refactor: extract shared word lists and email_id coercion to reduce duplication
  src/backend/python_nlp/nlp_engine.py
  src/core/database.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: add sonar-project.properties to exclude deprecated backend from analysis
  sonar-project.properties
Due: prettier-root

fix: resolve SonarCloud reliability bugs, security vulnerabilities, and reduce duplication
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .pre-commit-config.yaml
  modules/dashboard/routes.py
  modules/system_status/__init__.py
  setup/launch.py
  src/core/database.py
  src/core/notmuch_data_source.py
  src/resolution/auto_resolver.py
  src/strategy/generator.py
  src/strategy/risk_assessor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

refactor: fix S8572 (logger.exception) and S1192 (duplicated literals) across active files
  modules/auth/routes.py
  modules/dashboard/routes.py
  modules/email/routes.py
  setup/launch.py
  setup/project_config.py
  src/core/database.py
  src/core/dynamic_model_manager.py
  src/core/notmuch_data_source.py
  src/core/plugin_base.py
  src/core/plugin_manager.py
  src/core/plugin_routes.py
  src/core/workflow_engine.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(ci): make ruff non-blocking in pr-check and lint-only workflows
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

fix: resolve SonarCloud S1656 (self-assignment), S5145 (log user data), S5332 (HTTP)
  modules/dashboard/routes.py
  setup/launch.py
  setup/project_config.py
  src/core/database.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: add sonar.cpd.exclusions for deprecated backend duplication
  sonar-project.properties
Due: prettier-root

fix: resolve remaining SonarCloud security vulnerabilities
  .github/workflows/pr-check.yml
  modules/dashboard/routes.py
  src/core/database.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: trigger SonarCloud re-analysis with exclusions applied
  .github/workflows/pr-check.yml
Due: prettier-root

fix(sec): bypass sonarcloud and sourcery with literal string logic
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(sec): bypass sonarcloud and sourcery securely
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(deps,sec): resolve sonarcloud injection and match lodash versions
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root
