Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: ruff check
  language: system

py-compile:
  name: py_compile
  entry: python3 -m py_compile
  language: system

bandit:
  name: bandit
  entry: bandit
  args:
  - -r
  language: system

eslint-client:
  name: eslint client
  entry: eslint
  args:
  - client/
  - --max-warnings
  - '0'
  language: system

prettier-client:
  name: prettier client
  entry: prettier
  args:
  - --write
  - client/
  language: system

eslint-root:
  name: eslint root
  entry: eslint
  args:
  - server/
  - --ext
  - ts
  - --max-warnings
  - '0'
  language: system

prettier-root:
  name: prettier root
  entry: prettier
  args:
  - --write
  - .
  language: system

Fix pytest coverage flags and remove coverage requirements
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

Run only known-good tests in CI to fix failing checks
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: prettier-root

Add continue-on-error to test job to fix CI failure
  .github/workflows/ci.yml
Due: prettier-root

Fix pr-check workflow to allow CI merge
  .github/workflows/pr-check.yml
Due: prettier-root

Apply suggestions from code review
  scripts/branch_rename_migration.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix E402 lint errors by ignoring in CI and adding noqa
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  src/backend/python_backend/__init__.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Update modules/auth/routes.py
  modules/auth/routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Remove conflict artifact backup file
  setup/launch.py.clean
Due: prettier-root

Update src/core/model_routes.py
  src/core/model_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Update src/core/plugin_routes.py
  src/core/plugin_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Potential fix for code scanning alert no. 85: Information exposure through an exception
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Resolve PR #208 conflicts: security.py classes, ci.yml, dependabot.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  ARCHITECTURAL_REVIEW_TODO.md
  scripts/automation/setup/pyproject.toml
  src/core/security.py
  uv.lock
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Resolve conflicts: restore email_nodes.py from main
  src/backend/node_engine/email_nodes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Resolve merge conflicts: restore files from main branch
  AGENTS.md
  CLAUDE.md
  CLAUDE.md_backup
  README.md
  docs/orchestration-workflow.md
  docs/orchestration_summary.md
  emailintelligence_cli.py
  scripts/intelligent_merger.py
  setup/launch.py
  setup/validation.py
  src/cli/commands/git/merge_smart.py
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix syntax error in project.py - properly close docstring
  src/context_control/project.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Update src/core/integrations/sonarqube_api.py
  src/core/integrations/sonarqube_api.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Update src/cli/commands/sonar_issues_command.py
  src/cli/commands/sonar_issues_command.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: apply Phase 14 unified gitignore + remove tracked tool/user files
  .continue/models/new-model.yaml
  .continue/prompts/new-prompt.yaml
  .continue/rules/new-rule.yaml
  .cursor/rules/taskmaster/hamster.mdc
  .gitignore
  .openhands/microagents/repo.md
  .qwen/PROJECT_SUMMARY.md
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
  .voidrules
  client/logs/client.log
  data/categories.json.gz
  data/email_content/1.json.gz
  data/emails.json.gz
  data/sender_labels.json
  data/settings.json
  data/users.json.gz
  data/workflows/my_custom_workflow.json
  diagnosis_message.txt
  email_cache.db
  jules-scratch/verification/verification.png
  jules-scratch/verification/verify_frontend.py
  logs/server.log
  smart_filters.db
  sqlite.db
Due: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, prettier-root

feat: add code-review-graph MCP tools section to AGENTS.md
  AGENTS.md
Due: prettier-root

docs: add agent file consolidation state doc + fix .taskmaster submodule
  .gitignore
  .gitmodules
  docs/handoff/AGENT_FILE_CONSOLIDATION_STATE.md
Due: prettier-root

fix: resolve merge conflicts in src/main.py
  src/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in src/core/ modules
  src/core/auth.py
  src/core/models.py
  src/core/performance_monitor.py
  src/core/security.py
  src/core/settings.py
  src/core/workflow_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in src/core/data/ module
  src/core/data/__init__.py
  src/core/data/data_source.py
  src/core/data/database_source.py
  src/core/data/factory.py
  src/core/data/repository.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in backend routes and tests
  src/backend/python_backend/model_routes.py
  src/backend/python_backend/tests/test_email_routes.py
  src/backend/python_backend/tests/test_training_routes.py
  src/backend/python_backend/tests/test_workflow_routes.py
  src/backend/python_backend/training_routes.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in remaining src/ modules
  src/backend/node_engine/node_base.py
  src/backend/node_engine/security_manager.py
  src/backend/node_engine/test_integration.py
  src/backend/node_engine/workflow_engine.py
  src/backend/python_backend/model_manager.py
  src/backend/python_backend/performance_monitor.py
  src/backend/python_backend/routes/v1/category_routes.py
  src/backend/python_backend/routes/v1/email_routes.py
  src/backend/python_backend/services/base_service.py
  src/backend/python_backend/services/category_service.py
  src/backend/python_backend/services/email_service.py
  src/backend/python_backend/tests/test_advanced_ai_engine.py
  src/backend/python_backend/tests/test_ai_engine.py
  src/backend/python_backend/workflow_routes.py
  src/backend/python_nlp/gmail_integration.py
  src/backend/python_nlp/gmail_service.py
  src/backend/python_nlp/gmail_service_clean.py
  src/backend/python_nlp/smart_filters.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in backend/ and modules/
  backend/python_nlp/ai_training.py
  backend/python_nlp/smart_retrieval.py
  modules/dashboard/__init__.py
  modules/dashboard/routes.py
  modules/email/routes.py
  modules/workflows/ui.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve merge conflicts in test files
  test_security_fixes.py
  tests/conftest.py
  tests/core/test_advanced_workflow_engine.py
  tests/core/test_email_repository.py
  tests/core/test_security.py
  tests/core/test_workflow_engine.py
  tests/test_api_actions.py
  tests/test_auth.py
  tests/test_category_api.py
  tests/test_database.py
  tests/test_email_api.py
  tests/test_filter_api.py
  tests/test_launcher.py
  tests/test_password_hashing.py
  tests/test_workflow_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove dead code, duplicate routes, and invalid constructors from keep-both-sides resolution
  backend/python_nlp/ai_training.py
  backend/python_nlp/smart_retrieval.py
  modules/dashboard/__init__.py
  modules/dashboard/routes.py
  src/backend/python_backend/training_routes.py
  src/core/data/data_source.py
  src/core/data/database_source.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: remove 60 shadow definitions from keep-both-sides merge resolution
  backend/python_nlp/ai_training.py
  src/backend/node_engine/email_nodes.py
  src/backend/node_engine/migration_utils.py
  src/backend/node_engine/node_library.py
  src/backend/node_engine/workflow_engine.py
  src/backend/python_backend/ai_engine.py
  src/backend/python_backend/dependencies.py
  src/backend/python_backend/performance_monitor.py
  src/backend/python_backend/workflow_engine.py
  src/core/advanced_workflow_engine.py
  src/core/ai_engine.py
  src/core/auth.py
  src/core/caching.py
  src/core/data/repository.py
  src/core/database.py
  src/core/enhanced_caching.py
  src/core/enhanced_error_reporting.py
  src/core/enhanced_performance_monitor.py
  src/core/middleware.py
  src/core/performance_monitor.py
  src/core/plugin_base.py
  src/core/security.py
  src/core/smart_filter_nodes.py
  src/core/workflow_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore accidentally removed constructors and factory functions
  src/backend/node_engine/workflow_engine.py
  src/backend/python_backend/ai_engine.py
  src/core/data/repository.py
  src/core/database.py
  src/core/middleware.py
  src/core/performance_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve conflict markers, shadow definitions, and syntax errors on orchestration-tools
  scripts/currently_disabled/temp_email_nodes.py
  scripts/detect-branch-stack.sh
  scripts/token_optimization_monitor.py
  setup/launch.py
  setup/utils.py
  src/context_control/project.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: use correct dict key overall_efficiency in token_optimization_monitor
  scripts/token_optimization_monitor.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: resolve shadow definitions, syntax errors, and escape warnings on taskmaster
  scripts/consolidate_task_versions.py
  scripts/critical_logic_identifier.py
  scripts/enhance_branch_analysis_tasks_for_prd_accuracy.py
  scripts/logic_evolution_tracer.py
  task_scripts/fix_tasks.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: delete tasks.json — all content preserved in task_*.md files
  tasks/tasks.json
Due: prettier-root

chore(submodule): add .taskmaster submodule + CI recursive checkout + docs
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml
  .gitmodules
  docs/SUBMODULES.md
Due: prettier-root

chore(submodule): CI recursive checkout for .taskmaster + docs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/push-check.yml
  .github/workflows/test.yml
  docs/SUBMODULES.md
Due: prettier-root

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  py-compile: any of: \.py$
  bandit: any of: \.py$
  eslint-client: any of: ^client/
  prettier-client: any of: ^client/
  eslint-root: any of: ^server/
  prettier-root: any of: ^(?!(client/))
