Repository MasumRab/EmailIntelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, py-compile, bandit, eslint-client, prettier-client, eslint-root, prettier-root

.pre-commit-config.yaml:

# Pre-commit hooks for EmailIntelligence
# Install with: pre-commit install

repos:
  # Python hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: ruff check
        language: system
        types: [python]

      - id: py-compile
        name: py_compile
        entry: python3 -m py_compile
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bandit
        args: ["-r"]
        language: system
        types: [python]

  # Node.js hooks for frontend (client)
  - repo: local
    hooks:
      - id: eslint-client
        name: eslint client
        entry: eslint
        args: ["client/", "--max-warnings", "0"]
        language: system
        files: ^client/

      - id: prettier-client
        name: prettier client
        entry: prettier
        args: ["--write", "client/"]
        language: system
        files: ^client/

  # Node.js hooks for root/server
  - repo: local
    hooks:
      - id: eslint-root
        name: eslint root
        entry: eslint
        args: ["server/", "--ext", "ts", "--max-warnings", "0"]
        language: system
        files: ^server/

      - id: prettier-root
        name: prettier root
        entry: prettier
        args: ["--write", "."]
        language: system
        files: ^(?!(client/))

default_stages: [pre-commit]

fix: Remove remaining conflict markers from setup/launch.py
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix: restore interface implementations and fix test compatibility
  src/analysis/constitutional/analyzer.py
  src/git/conflict_detector.py
  src/strategy/generator.py
  tests/unit/test_constitutional_engine.py
  tests/unit/test_git_conflict_detector.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(test): restore gutted unit tests and resolve process_manager naming conflict
  setup/utils.py
  tests/test_launcher.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

triage: comprehensive .iflow issue remediation, large file analysis, doc cleanup
  .iflow/PHASE_1_SCRIPT_REFERENCE_AUDIT.md
  .iflow/TODO_ORGANIZATION_REPORT.md
  .iflow/TRIAGE_HANDOFF_PROMPT.md
  .iflow/TRIAGE_REPORT.md
  .iflow/predictions/report-20250106.md
  .iflow/understand/large_file_analysis/branch_clustering.md
  .iflow/understand/large_file_analysis/emailintelligence_cli.md
  .iflow/understand/large_file_analysis/enhance_branch_analysis.md
  .iflow/understand/large_file_analysis/merge_task_manager.md
Due: prettier-root

fix: Downgrade ESLint to v8 and fix lint errors
  .eslintrc.json
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/components/ai-analysis-panel.tsx
  client/src/components/ui/calendar.tsx
  package-lock.json
  package.json
Due: eslint-client, prettier-client, prettier-root

fix: Use compatible uv.lock format
  uv.lock
Due: prettier-root

Fix ESLint configuration for ESLint 9+
  .eslintrc.json
  client/.eslintrc.json
  client/eslint.config.js
  client/src/components/ai-analysis-panel.tsx
Due: eslint-client, prettier-client, prettier-root

Add ESLint 9+ flat config to root
  eslint.config.js
Due: prettier-root

Regenerate uv.lock to fix dependency resolution
  uv.lock
Due: prettier-root

Fix workflow: run frontend from client dir, ignore Bandit issues
  .github/workflows/pr-check.yml
Due: prettier-root

Fix workflow: use npm install instead of npm ci
  .github/workflows/pr-check.yml
Due: prettier-root

Add || true to TypeScript check to avoid pre-existing errors failing CI
  .github/workflows/pr-check.yml
Due: prettier-root

Fix PR #601 CI syntax and import failures
  logs/audit.jsonl
  logs/audit.log
  logs/performance_metrics.jsonl
  modules/dashboard/__init__.py
  src/backend/node_engine/test_security.py
  src/backend/python_backend/services/base_service.py
  src/core/__init__.py
  src/core/audit_logger.py
  src/core/auth.py
  src/core/factory.py
  tests/core/test_rate_limiter.py
  tests/core/test_security_validator.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Resolve merge conflicts in launch.py and add validation tests
  setup/launch.py
  setup/test_validation.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Add test coverage for exceptions module in PR #601
  tests/core/test_exceptions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Add test coverage for settings module
  tests/core/test_settings.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Add test coverage for CLI and resolution modules, update dependencies
  setup/pyproject.toml
  src/resolution/__init__.py
  tests/cli/test_cli_commands.py
  tests/resolution/test_constitutional_engine.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Fix CI import issues and add test coverage
  src/core/__init__.py
  src/core/auth.py
  tests/core/test_exceptions.py
  tests/core/test_settings.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Enhance Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier-root

Cleanup: remove .rej and .orig files from PR 578
  .github/workflows/ci.yml.orig
  .github/workflows/ci.yml.rej
  setup/launch.py.rej
Due: prettier-root

Add unit tests for core exceptions and constants modules
  tests/core/test_constants.py
  tests/core/test_exceptions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Address reviewer feedback: fix action versions and simplify logic
  update-ci-actions.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

Address security audit comments: add safety comments for subprocess.run calls
  setup/launch.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore(hub): apply stashed spec assembly and resolve conflicts
  .clinerules/CLAUDE.md
  .clinerules/copilot-instructions.md
  .clinerules/dev_workflow_deep.md
  .clinerules/logic_preservation.md
  .clinerules/taskmaster_deep.md
  .cursor/rules/CLAUDE.md
  .cursor/rules/copilot-instructions.md
  .cursor/rules/dev_workflow_deep.md
  .cursor/rules/dev_workflow_deep.mdc
  .cursor/rules/logic_preservation.md
  .cursor/rules/logic_preservation.mdc
  .cursor/rules/taskmaster_deep.md
  .cursor/rules/taskmaster_deep.mdc
  AGENTS.md
  comprehensive_analysis_report.md
  conductor/tracks/cli-unification/REDEFINITION.md
  pyproject.toml
  specs/003-rebase-analysis/plan.md
  specs/004-guided-workflow/tasks.md
  specs/006-pr176-integration-fixes/tasks.md
  specs/006-unified-architecture/architecture-docs/UNIFIED_ARCHITECTURAL_PLAN.md
  specs/006-unified-architecture/architecture-docs/architecture_overview.md
  specs/006-unified-architecture/architecture-docs/technology_stack.md
  specs/006-unified-architecture/architecture-docs/workflow_system_analysis.md
  specs/006-unified-architecture/plan.md
  specs/006-unified-architecture/spec.md
  specs/007-merge-guidance/HANDLING_INCOMPLETE_MIGRATIONS.md
  specs/007-merge-guidance/MERGE_GUIDANCE_DOCUMENTATION.md
  specs/008-branch-comparison/IMPLEMENTATION_SUMMARY.md
  specs/010-orchestration-workflow/contracts/README.md
  specs/010-orchestration-workflow/plan.md
  specs/010-orchestration-workflow/research.md
  specs/010-orchestration-workflow/spec.md
  specs/WORK_TO_SPEC_MAPPING.md
  src/cli/commands/analysis/import_audit.py
  src/cli/commands/analysis/validate.py
  tasks/adversarial_audit_registry.json
  tasks/jules_recovery_payloads.json
  validate_dependencies.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore(git): ignore transient resource and translation files
  .gitignore
Due: prettier-root

docs(conductor): complete phase 1 research for git-topology track
  conductor/tracks/git-topology_20260324/plan.md
  conductor/tracks/git-topology_20260324/research_summary.md
Due: prettier-root

fix(cli): correct imports and implement missing abstract methods for commands
  src/cli/commands/analysis/import_audit.py
  src/cli/commands/git/analyze.py
  src/cli/commands/task/cluster_branches.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(cli): restore advanced logic from consolidate branch and hotfix command interfaces
  src/cli/commands/__init__.py
  src/cli/commands/analysis/code_audit.py
  src/cli/commands/analysis/compare.py
  src/cli/commands/analysis/import_audit.py
  src/cli/commands/analysis/validate.py
  src/cli/commands/automation/mcp_sync.py
  src/cli/commands/automation/monitor.py
  src/cli/commands/git/align.py
  src/cli/commands/git/analyze.py
  src/cli/commands/git/auto_resolve.py
  src/cli/commands/git/discover.py
  src/cli/commands/git/history.py
  src/cli/commands/git/merge_semantic.py
  src/cli/commands/git/merge_smart.py
  src/cli/commands/git/pr_extract.py
  src/cli/commands/git/rebase.py
  src/cli/commands/git/resolve.py
  src/cli/commands/git/stash_resolve.py
  src/cli/commands/infra/backup.py
  src/cli/commands/infra/deploy.py
  src/cli/commands/infra/verify.py
  src/cli/commands/task/analyze_tasks.py
  src/cli/commands/task/cluster_branches.py
  src/cli/commands/task/engine/branch_clustering.py
  src/cli/commands/task/engine/validation_framework.py
  src/cli/commands/task/list_tasks.py
  src/cli/commands/task/taskmaster.py
  src/cli/main.py
  src/cli/services/nlp.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

fix(merge): resolve remaining conflict markers in CLI entry points
  dev.py
  src/cli/main.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

docs: add agent rules integration analysis and Letta Code config
  .gitignore
  .letta/.lettaignore
  .letta/settings.json
  docs/AGENT_RULES_IMPLEMENTATION_HANDOFF.md
  docs/AGENT_RULES_NEW_CAPABILITIES_REPORT.md
  docs/AGENT_RULES_STRESS_TEST_REPORT.md
  docs/AGENT_RULES_TOOLS_VERIFIED_TEST_RESULTS.md
  docs/AGENT_RULES_TOOL_INTEGRATION_PLAN.md
Due: prettier-root

security: implement SecurityValidator and begin codebase-wide I/O gating
  src/cli/commands/integration.py
  src/core/advanced_workflow_engine.py
  src/core/audit_logger.py
  src/core/enhanced_error_reporting.py
  src/core/model_registry.py
  src/core/notmuch_data_source.py
  src/core/performance_monitor.py
  src/core/plugin_base.py
  src/core/plugin_manager.py
  src/core/security.py
Due: ruff-format, ruff-lint, py-compile, bandit, prettier-root

chore: add CONFIG_ANALYSIS.md to .gitignore
  .gitignore
Due: prettier-root

chore: add analysis artifacts to .gitignore
  .gitignore
Due: prettier-root

docs: add BRANCH_AGENT_GUIDELINES_SUMMARY
  BRANCH_AGENT_GUIDELINES_SUMMARY.md
Due: prettier-root

chore: add standard .gitattributes with LF line endings
  .gitattributes
Due: prettier-root

docs: add Letta Code integration section to AGENT_RULES_TOOL_INTEGRATION_PLAN
  docs/AGENT_RULES_TOOL_INTEGRATION_PLAN.md
Due: prettier-root

docs: update AGENT_RULES_NEW_CAPABILITIES_REPORT with full tool coverage
  docs/AGENT_RULES_NEW_CAPABILITIES_REPORT.md
Due: prettier-root
